<%= form_with(model: kitten, local: true) do |form| %>
  <% if kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
      <% kitten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, "Cat name" %>
  <%= form.text_field :name %>

  <%= form.label :age, "Cat age" %>
  <%= form.number_field :age, in: 1..30 %>


  <%= form.label :cuteness, "Cat cuteness" %>
  <%= form.number_field :cuteness, in: 1..10 %>

  <%= form.label :cuteness, "Cat softness" %>
  <%= form.number_field :softness, in: 1..10 %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
